doctype html
html
  head
    title='Pokaddict'
    link(rel="icon", type="image/png", href="./icons/psyduck.png")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.css")
    style
      include ../../public/styles/pokemons/style.css
  body
    .ui.menu
      a.item(href='/') Pokaddict
      a.item(href='/pokemons') Pokemons
      a.item(href='/characters') Characters
