html
  include ../includes/head.pug
  .container
    each pokemon in pokemons
      .ui.card
        .image
          img(src=pokemon.picture)
        .content
          a.header(href="/pokemons/" + pokemon._id)=pokemon.name
  a.ui.button(href="/pokemons/new") Add Pokemon

  include ../includes/footer.pug 
