html
  include ../includes/head.pug
  .container
    each pokemon in pokemons
      .ui.card
        .image
          img(src=pokemon.picture)
        .content
          a.header(href=url + '/' + pokemon._id)=pokemon.name

  include ../includes/footer.pug 
