html
  include ../includes/head
  form.ui.form(action="/pokemons" method="POST")
    .field
      label Name
      input(type="text" name="name" placeholder="Name" required)
    .field
      label Picture
      input(type="url" name="picture" placeholder="Picture" required)
    .field
      label Type
      input(type="text" name="type" placeholder="Type" required)
    button.ui.button(type="submit") Add Pokemon

  include ../includes/footer
