html
  include ../includes/head.pug
  .container
    .ui.card
      .image
        img(src=pokemon.picture)
      .content
        a.header=pokemon.name
        .meta
          span=pokemon.type
        ul.description
          li Ability: 
            =pokemon.ability
          li Weakness: 
            =pokemon.weakness
          li Height: 
            =pokemon.height
      .extra.content
        a(href="/pokemons/edit/" + pokemon._id)
          i.edit.icon
        form(action="/pokemons/"+pokemon._id+ "_?method=DELETE", method="POST")
          button(type="submit").right.floated
            i.trash.alternate.outline.icon
          
  include ../includes/footer.pug 
