html
  head
    title='Pokaddict'  
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.css")
    style
      include ../public/welcome.css
  body 
    .container
      h1 Pokaddict
      a(href='/pokemons') Catch them All
  
    include ./includes/footer.pug 
  
