html
  head
    title='Pokaddict'  
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.css")
    style
      include ../public/welcome.css
  body 
    .outer 
      .inner
    include ./includes/footer.pug 
  
