doctype html
html
  head
    title='Pokaddict'  
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.css")
    style
      include ../public/styles/welcome.css
  body 
    .red
    hr.left
    hr.right
    .outer 
      a.inner(href="/pokemons")
    include ./includes/footer.pug 
  
