a.header {
  text-transform: capitalize;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

a.ui.button {
  display: block;
  margin: 2px auto;
}
.ui.card {
  margin: 5px;
}
