body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.red {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  background-color: red;
}

.outer {
  position: relative;
  top: 50%;
  left: 50%;
  margin: -100px 0px 0px -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: black 60px solid;
  background-color: white;
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.6);
}

.inner {
  position: absolute;
  width: 70px;
  height: 70px;
  border: black 5px solid;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -35px 0px 0px -35px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
}

hr {
  position: absolute;
  top: 50%;
  right: 50%;
  height: 50px;
  margin: -25px 0px 0px -25px;
  background-color: black;
  width: 50%;
  border: 0;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

hr.right {
  right: 0;
}
